<mat-form-field class="form-field" appearance="outline" [ngClass]="{ 'datepicker-padding': isDatepicker }">
  <mat-label>{{ fieldName }}</mat-label>
  <ng-container *ngIf="!isDatepicker">
    <input matInput [formControl]="control" />
  </ng-container>

  <ng-container *ngIf="isDatepicker">
    <input matInput [formControl]="control" [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </ng-container>

  <mat-error *ngIf="control.hasError('required')">
    {{ fieldName }} is required.
  </mat-error>

  <mat-error *ngIf="control.hasError('email')"> Email is incorrect. </mat-error>
</mat-form-field>
